[submodule "pluginElfReader/elf2var"]
	path = pluginElfReader/elf2var
	url = https://github.com/Sanya-123/elf2var.git
[submodule "conf2var"]
	path = conf2var
	url = https://github.com/Sanya-123/conf2var.git
[submodule "pluginJsonReader/json2var"]
	path = pluginJsonReader/json2var
	url = https://github.com/Sanya-123/json2var.git
